/*
Title:		Master styles for screen media
Author: 	gbrad@firebrand-media.com
*/
/* BASE STYLES
-----------------------------*/
body {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-weight: 400;
  border-top: 5px solid RGBA(31, 62, 160, 1); }

img {
  max-width: 100%;
  height: auto; }

a:link {
  color: RGBA(31, 62, 160, 1); }

a:visited {
  color: RGBA(31, 62, 160, 1); }

a:hover {
  color: RGBA(31, 62, 160, 0.6); }

h1, h2, h3, h4, h5, h6 {
  padding: 5px 5%;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  line-height: 1em; }

p {
  padding: 0 5%; }

ul {
  padding: 0 10%; }

li {
  padding: 7px 0; }

@media screen and (min-width: 1100px) {
  p {
    padding: 0; }

  ul {
    width: 70%;
    margin: 0 auto; }

  li {
    padding: 7px 0; }

  h2 {
    width: 75%;
    margin: 0 auto; } }
/* LAYOUT STYLES
-----------------------------*/
header {
  border-bottom: 3px solid RGBA(237, 214, 78, 1); }

.desktop {
  display: none; }

.logo {
  width: 85%;
  float: left; }

.icon-menu {
  float: right;
  border: 1px solid RGBA(31, 62, 160, 1);
  padding: 5px;
  border-radius: 3px;
  margin: 9% 13px 0 0; }

.welcome img {
  border-bottom: 3px solid RGBA(31, 62, 160, 1); }

.welcome-hero {
  background: url("/images/intro-to-git.jpg") top left no-repeat;
  background-size: cover;
  height: auto;
  padding: 40px 0;
  border-bottom: 3px solid RGBA(237, 214, 78, 1); }

.welcome-hero img {
  width: 100%;
  height: auto; }

.welcome-hero h1 {
  margin: 0;
  font-size: 500%;
  color: #fff;
  font-weight: 800;
  text-shadow: 1px 1px 2px #969696; }

code {
  background-color: RGBA(246, 246, 246, 1);
  padding: 5px;
  color: RGBA(31, 62, 160, 1); }

.post-synopsis {
  list-style-type: none;
  padding: 10px 0;
  margin: 0 5%; }

.post-synopsis p {
  padding: 0; }

.post-meta-footer {
  border-top: 1px solid RGBA(31, 62, 160, 1);
  border-bottom: 1px solid RGBA(31, 62, 160, 1); }

.post-meta-footer h3 {
  border-bottom: 1px solid RGBA(237, 214, 78, 1);
  font-size: 150%;
  margin: 0;
  padding: 10px 5%; }

.author-photo {
  border-radius: 100%;
  float: left;
  margin: 0 15px 0 0;
  width: 70px;
  height: auto; }

.updates h2 {
  padding: 10px 5%;
  margin: 0;
  border-bottom: 1px solid RGBA(237, 214, 78, 1); }

.updates ul {
  padding: 0 5%;
  margin: 0; }

.updates li {
  list-style-type: none; }

footer {
  background-color: RGBA(31, 62, 160, 1);
  border-top: 3px solid RGBA(237, 214, 78, 1);
  color: #fff;
  padding: 0;
  margin: 40px 0 200% 0;
  overflow: hidden; }

footer a:link {
  color: RGBA(237, 214, 78, 1);
  text-decoration: none; }

footer a:visited {
  color: RGBA(237, 214, 78, 1); }

footer a:hover {
  color: #fff; }

footer ul {
  padding: 0;
  margin: 0; }

footer li {
  list-style-type: none;
  padding: 7px 5%;
  border-bottom: 1px solid RGBA(237, 214, 78, 1); }

footer li.meetup {
  background-color: red; }

footer .meetup a {
  color: #fff; }

footer i {
  float: right; }

@media screen and (min-width: 1100px) {
  .mobile {
    display: none; }

  .desktop {
    display: inline; }

  .icon-menu {
    display: none; }

  .logo {
    width: 30%;
    float: left; }

  header {
    background-color: #fff;
    padding: 0 10%; }

  nav {
    float: right;
    font-size: 120%;
    width: 70%;
    text-align: right;
    margin: 3% 0 0 0;
    padding: 0; }

  nav a:link {
    text-decoration: none; }

  nav ul {
    text-align: right;
    padding: 0;
    margin: 0; }

  nav li {
    display: inline;
    padding: 0 10px 0 0; }

  .post-header {
    padding: 10px 0; }

  .post-title {
    width: 75%;
    margin: 0 auto; }

  .post-meta {
    width: 75%;
    margin: 0 auto; }

  .post-content {
    width: 75%;
    margin: 40px auto 20px auto; }

  .post-content ul {
    width: 90%;
    padding: 0; }

  .post-content h2 {
    width: 100%;
    margin: 0;
    padding: 0; }

  .post-synopsis {
    list-style-type: none;
    padding: 10px 0;
    margin-left: 12.5%; }

  .post-meta-footer {
    width: 75%;
    margin: 40px auto 20px auto;
    border-top: none;
    border-bottom: none; }

  .post-meta-footer h3 {
    border-bottom: 1px solid RGBA(31, 62, 160, 1);
    font-size: 150%;
    margin: 0;
    padding: 10px 0; }

  .post-meta-footer strong {
    display: block; }

  .author-photo {
    border-radius: 100%;
    float: left;
    margin: 0 15px 0 0;
    width: 100px;
    height: auto; }

  footer {
    margin: 40px 0 0 0; }

  .welcome-hero {
    background: url("/images/intro-to-git.jpg") top left no-repeat;
    background-size: cover;
    height: auto;
    padding: 40px 0;
    margin: 0;
    border-bottom: 3px solid RGBA(237, 214, 78, 1); }

  .welcome-hero img {
    width: 100%;
    height: auto; }

  .welcome-hero h1 {
    margin: 40px auto;
    font-size: 800%;
    color: #fff;
    font-weight: 800;
    text-shadow: 1px 1px 2px #969696;
    width: 77%; }

  .welcome p {
    width: 75%;
    margin: 0 auto;
    padding: 15px 0; }

  .welcome p:first-of-type {
    padding: 40px 0 15px 0;
    font-size: 125%; }

  .new-content {
    width: 80%;
    margin: 40px auto 0 auto; }

  .updates {
    width: 47%;
    float: left;
    padding: 0;
    margin: 0 1%;
    border: 1px solid RGBA(237, 214, 78, 1);
    border-radius: 5px; }

  .updates h2 {
    margin: 0;
    padding: 10px 0 10px 5%;
    width: 95%;
    background-color: RGBA(237, 214, 78, 1);
    color: RGBA(31, 62, 160, 1); } }
/* self-clear floats
-----------------------------*/
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
