<section class="new-content group">
        <div class="updates group">
              <h2>Recent Blog Entries</h2>

                  <ul>
                    {% for post in site.categories.blog %}
                      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> | <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></li>
                    {% endfor %}
                  </ul>
            </div>

            <div class="updates group">
                <h2>Upcoming Events</h2>

                  {% assign curDate = site.time | date: '%s' %}
                        {% for post in site.categories.events %}
                            {% assign postStartDate = post.date | date: '%s' %}
                            {% if postStartDate >= curDate %}
                                <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><strong>{{ post.title }}</strong></a> | <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} by {% if post.author %} | {{ post.author }}{% endif %}</span> {{ post.excerpt }}</li>
                            {% endif %}
                        {% endfor %}
            </div>
</section>
